body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
}
header {
  color: white;
  background-color: #be1d2c;
  margin-left: auto;
  margin-right: auto;
}

header a {
  color: white;
  text-decoration: none;
}
header li {
  list-style-type: none;
  display: inline-block;
  padding: 0 0.5em;
}

header img {
  display: block;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 0;
}

.content {
  max-width: 50em;
  margin: 0 auto;
  padding: 0.5em 1em;
}
